*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 40px;
  margin: 20px 0px;
}

.negrita{
  font-weight: bold;
}

.bueno span{
  color: blue;
}

.malo span{
  color: red;
}

.narrador{
  font-style: italic;
}
